/* Root Variables */
:root {
    --primary-color: #f72585;
    /* Rose */
    --secondary-color: #7209b7;
    /* Grape */
    --accent-color1: #3a0ca3;
    /* Zaffre */
    --accent-color2: #4361ee;
    /* Neon Blue */
    --hover-color: #ff69b4;
    /* Hover effect color */
    --font-family-main: 'Montserrat', sans-serif;
    --font-family-alt: 'Lora', serif;
}

/* General Styling */
body {
    font-family: var(--font-family-main);
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.logo {
    background-color: var(--primary-color);
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

header h1 {
    margin: 0;
    font-size: 2em;
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
}

.navigation li {
    display: block;
    flex: 1 1 100%;
}

.navigation a {
    text-decoration: none;
    text-align: center;
}

#menu {
    display: none;
}