@media (max-width: 768px) {
    body {
        background-color: white;
    }

    #menu {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        padding: .5rem .75rem;
        background-color: #eee;
        color: #000;
    }

    menu::before {
        content: "≡"
    }

    nav {
        background-color: #706565;
        color: #f72585;
    }

    .navigation {
        list-style: none;
        margin: 0 auto;
        max-width: 760px;
        text-decoration: none;
    }

    .navigation li {
        display: none;
    }

    .navigation a {
        text-decoration: none;
        display: block;
        padding: 0.75rem;
        text-align: left;
        color: #000;
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
    }

    .navigation a:hover,
    .navigation a:active {
        color: white;
        background-color: #000;
    }

    .show li {
        display: block;
    }

    #menu.show::before {
        content: "X";
    }

    ;
}